@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes side-fade-animation {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

.side-fade {
	animation-name: side-fade-animation;
	animation-duration: 0.5s;
}

/* MDX Editor customization */
.mdxeditor {
	height: 450px;
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	padding: 14px;
	overflow-y: scroll;
}

.mdxeditor-root-contenteditable {
}
